@import url(//db.onlinewebfonts.com/c/0373adad7b4c1a926865084f2f8fab7f?family=Circe);
@font-face {font-family: "Circe"; src: url("//db.onlinewebfonts.com/t/0373adad7b4c1a926865084f2f8fab7f.eot"); src: url("//db.onlinewebfonts.com/t/0373adad7b4c1a926865084f2f8fab7f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0373adad7b4c1a926865084f2f8fab7f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0373adad7b4c1a926865084f2f8fab7f.woff") format("woff"), url("//db.onlinewebfonts.com/t/0373adad7b4c1a926865084f2f8fab7f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0373adad7b4c1a926865084f2f8fab7f.svg#Circe") format("svg"); }

$back-color: #EDF2F6;
$font-stack: 'Circe';
$blue-text: #0291EB;


body{
font: $font-stack;
background-color: $back-color;
}

.blue-text{
    color: $blue-text;
}